<div class="side_top">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side_button">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_main">
  <div class="chat_button">
    <a href="#">ChatRoom1</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom2</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom3</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom4</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom5</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom6</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom7</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom8</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom9</a>
  </div>
  <div class="chat_button">
    <a href="#">ChatRoom10</a>
  </div>
</div>